<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <style>
        .nav-link {
            transition: all 0.3s ease;    /* Efektler 0.3 saniyede yumuşak şekilde gerçekleşir */
        }

            .nav-link:hover {
                text-decoration: underline;  /* Üzerine gelince font büyür ve altçizgi eklenir */
                font-size: 1.2em;
            }

        .navbar {
            background-color: #333;
            display: flex;
            justify-content: center;
            width: 500px;
            border-radius: 10px;
        }

        .navdiv {
            display: flex;
            justify-content: center;
        }

        .brand {
            color: yellow;
            font-size: 24px;
            font-weight: bold;
        }

        .his {
            font-weight: bold;
            font-size: large;
        }

        .home {
            font-weight: bold;
            font-size: large;
        }

        .foot {
            display: flex;
        }

        .f {
            color: azure;
        }

        .er {
            right: 0;
        }

    </style>
</head>
<body>
    <header>
        <div class="navdiv">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow mb-3 mt-3">
            <div class="container-fluid">
                    <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Web<span class="brand">Calculator</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="icerikdiv">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                                <a class="nav-link text-white home " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">                                                           <!-- Navbar-->
                                <a class="nav-link text-white his"  asp-area="" asp-controller="Home" asp-action="History">History</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">

            <span class="mb-3 mb-md-0 text-white foot ">WebCalculator</span>

        </div>
        <div class="er"><span class="f">Can Güner Yiğit</span></div>

    </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDuqC7PaJ48JvRc7pY8eLV6D/JOXT8Y7iqry1HcD5n5L7vpa7d" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgEPpXhUhvzF0fXbjfWL0eFv6LFpTYYdP57vLE0ABG6m8NJPpG5" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
